name: Rerun HTML scraping on Metrograph website

on:
  workflow_dispatch: # allow manual runs

permissions:
  contents: write

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Google Chrome
        run: |
          wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable
          google-chrome --version

      - name: Install Python dependencies
        run: |
          pip install -r scripts/scrap/requirements.txt

      - name: Pull raw html
        run: |
          python -u scripts/scrap/getRawHtml.py

      - name: Commit raw html files
        if: always() # Run this step even if previous steps fail or timeout
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git pull --rebase origin main || true
          git add scripts/scrap/data/raw_films.json || true
          git add scripts/scrap/data/raw_events.json || true
          git add scripts/scrap/data/metrograph.html || true
          git add scripts/scrap/data/metrograph_events.html || true
          git commit -m "Update raw html files [skip ci]" || echo "No changes to commit"
          git push
